body {
    background-image: linear-gradient(-90deg, ghostwhite, floralwhite);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.library {
    text-align: center;
    z-index: 1;
    width: 75vw;
}

.library tr {
    transition: 0.2s;
}

.library tr:hover {
    background-color: #ddd;
}

.library tr.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 12rem;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.library tr td.checked {
    text-decoration: line-through;
}

form {
    display: none;
    position: absolute;
    top: 2rem;
    left: auto;
    z-index: 9999;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1rem;
    margin: 1rem;
}

#close-new-book-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0;
    width: 0.5rem;
    height: 1.5rem;
    text-align: center;
}

#show-form {
    padding: 0.5rem;
    border: solid 1px honeydew;
    background-color: honeydew;
}

.remove-book {
    margin: 1rem;
    padding: 2px 10px;
    display: inline;
    background-color: orangered;
}

.read-status {
    margin: 0;
    padding: 0;
    display: inline;
}